.form {
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &.row-no-label {
      flex-direction: row-reverse;
    }

    .form-item-label {
      flex-basis: 30%;
      padding-right: 20px;
      text-align: right;

      >label {
        margin-bottom: 0;
      }

      >label.form-item-required::before {
        display: inline-block;
        margin-right: 4px;
        font-family: SimSun, sans-serif;
        font-size: 14px;
        line-height: 1;
        color: $danger;
        content: "*";
      }
    }

    .form-item {
      position: relative;
      flex-basis: 70%;

      .input-wrapper {
        margin-bottom: 0;
      }

      .form-item-has-error.form-item-control {
        .input-inner {
          border: 1px solid $danger;

          &:focus {
            box-shadow: $input-focus-box-shadow-error;
          }
        }
      }

      .form-item-explain {
        position: absolute;
        bottom: -25px;
        left: 0;
        min-width: 100px;
        line-height: 25px;
        color: $danger;
      }
    }
  }

  .form-submit-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
