.progress-bar {
  box-sizing: border-box;
  width: 100%;

  .progress-bar-outer {
    position: relative;
    overflow: hidden;
    background-color: $progress-bg;
    border-radius: $progress-border-radius;
  }

  .progress-bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    line-height: 1;
    border-radius: $progress-border-radius;
    transition: $progress-bar-transition;

    .inner-text {
      margin: 0 5px;
      font-size: $progress-font-size;
      color: $progress-bar-color;
    }
  }

  @each $key, $val in $theme-colors {
    .color-#{$key} {
      background-color: $val;
    }
  }
}
